:root {
  --color-bright-orange: hsl(31, 77%, 52%);
  --color-dark-cyan: hsl(184, 100%, 22%);
  --color-very-dark-cyan: hsl(179, 100%, 13%);

  --color-transparent-white: hsla(0, 0%, 100%, 0.75);
  --color-very-light-gray: hsl(0, 0%, 95%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
  background-color: var(--color-very-light-gray);
}

.container {
  max-width: 60%;
  height: 500px;
  padding-top: 90px;
  margin: auto;

  display: flex;
  justify-content: center;
}

.card {
  padding: 40px;
}

.card-sedan {
  background-color: var(--color-bright-orange);
  border-radius: 12px 0 0 12px;
}

.card-suv {
  background-color: var(--color-dark-cyan);
}

.card-luxury {
  background-color: var(--color-very-dark-cyan);
  border-radius: 0 12px 12px 0;
}

.icon-car {
}

h2 {
  font-family: Big Shoulders Display, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--color-very-light-gray);
  padding: 20px 0;
}

p {
  color: var(--color-transparent-white);
}

.btn:link,
.btn:visited {
  display: inline-block;
  padding: 10px 30px;
  text-decoration: none;
  background-color: var(--color-very-light-gray);
  border: 1px solid inherit;
  border-radius: 200px;
  margin-top: 60px;
  transition: all 0.2s;
}

.btn:hover {
  background-color: transparent;
  border: 1px solid var(--color-very-light-gray);
  color: var(--color-very-light-gray);
}

.btn-sedan {
  color: var(--color-bright-orange);
}

.btn-suv {
  color: var(--color-very-dark-cyan);
}

.btn-luxury {
  color: var(--color-very-dark-cyan);
}

.attribution {
  padding-top: 60px;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
