:root {
  --color-bright-orange: hsl(31, 77%, 52%);
  --color-dark-cyan: hsl(184, 100%, 22%);
  --color-very-dark-cyan: hsl(179, 100%, 13%);

  --color-transparent-white: hsla(0, 0%, 100%, 0.75);
  --color-very-light-gray: hsl(0, 0%, 95%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Lexend Deca", sans-serif;
  font-size: 62.5%;
  background-color: var(--color-very-light-gray);
}

.container {
  padding-top: 9rem;
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.card {
  padding: 4rem;
  height: 40rem;
  flex: 0 0 20%;
}

.card-sedan {
  background-color: var(--color-bright-orange);
  border-radius: 1rem 0 0 1rem;
}

.card-suv {
  background-color: var(--color-dark-cyan);
}

.card-luxury {
  background-color: var(--color-very-dark-cyan);
  border-radius: 0 1rem 1rem 0;
}

h2 {
  font-family: Big Shoulders Display, sans-serif;
  font-weight: 700;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--color-very-light-gray);
  padding: 2rem 0;
}

p {
  color: var(--color-transparent-white);
  font-size: 1.5rem;
}

.btn:link,
.btn:visited {
  display: inline-block;
  padding: 1rem 3rem;
  text-decoration: none;
  font-size: 1.5rem;
  background-color: var(--color-very-light-gray);
  border: 1px solid inherit;
  border-radius: 5rem;
  margin-top: 5rem;
  cursor: pointer;
  transition: all 0.2s;
}

.btn:hover {
  background-color: transparent;
  border: 1px solid var(--color-very-light-gray);
  color: var(--color-very-light-gray);
}

.btn-sedan {
  color: var(--color-bright-orange);
}

.btn-suv {
  color: var(--color-very-dark-cyan);
}

.btn-luxury {
  color: var(--color-very-dark-cyan);
}

.attribution {
  padding-top: 6rem;
  font-size: 1rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 375px) {
  .container {
    flex-direction: column;
  }

  .card {
    height: 30rem;
    max-width: 90%;
  }

  .card-sedan {
    border-radius: 1rem 1rem 0 0;
  }

  .card-luxury {
    border-radius: 0 0 1rem 1rem;
  }

  .attribution {
    margin-top: 8rem;
  }
}
